.posteos{
	article{
		h2{
			font-size: 3rem;
			font-family: 'Raleway';
			text-transform: uppercase;

			a{
				color: #23282f;

				&:hover{
					text-decoration: none;
					color: $azul;
				}
			}
		}
		.content{
			height: 100px;
			overflow: hidden;
		}
		.foto{

			img{
				border:1px solid #666;
				max-width:100%;
				height: auto;
			}
			a:hover{
				img{
					border:1px solid $azul;
				}
			}
		}
		p{
			&:last-child:after { content: "..."; }
		}
	}
}

.categorias{
	.page-header{
		height: 450px;
	}
}