.simple-carousel{
	background:#f0edde;
	
	.carousel{

		.carousel-inner{
			padding:0;
		}
	
		.carousel-control{
			background:none;
			width: 5%;
			span.fa{
				color: $azul;
				margin-top:500%;
			}
		}

		.carousel-indicators{
			li{
				border-color: $azul;
				&.active{
					background-color:$azul;
				}
			}
		}

		.item {
			opacity: 0;
		    left: 0px !important;
		   -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .9s ease-in-out;
			
              img{
              	display: block;
              }

              &:nth-child(1){
              	h3{
					right:0;
              		top:0;
              		width:45%;
					text-align: right;
              	}
              }

              &:nth-child(2){
              	h3{
              		left:0;
              		top:0;
              		width:100%;
              		text-align: center;
              	}
              }

              &:nth-child(3){
              	h3{
              		top:0;
              		left:0;
              		width:35%;
              	}
              }
		  }
		  .active {
			  opacity: 1;
			   left: 0 !important;
			}
		  .carousel-control {
		    background-image: none; // remove background gradients on controls
		  }
		  // Fade controls with items
		  .next.left,
		  .prev.right {
		    opacity: 1;
		    z-index: 1;
		  }
		  .active.left,
		  .active.right {
		    opacity: 0;
		    z-index: 2;
		  }
	}

	h3{
		font-size:2rem;
		position: absolute;
		font-family: 'Raleway';
		@include max-screen(550px) {
			font-size:1rem;
		}
	}
}