.wrapper{
	min-height:100vh;
	height: auto !important;
    height: 100%;
    padding-bottom:172px;
}
.main-header{
	 @include max-screen(475px) {
	 	padding:0;
	 }
	 @include max-screen(992px) {
		margin-bottom:10px;
	}
	h1.logo{
		background:url(images/logo.jpg) no-repeat;
		max-width: 507px;
		height: 43px;
		text-indent: -1000px;
		background-size:100%;
	}
	.barra-sup{
		background: $azul;
		color: #FFF;
		height:85px;
		&.der{
			text-align: right;
			@include max-screen(475px) {
			        font-size:1rem;
			   		padding:0;
			   		text-align:center;
			   		line-height: 50px;
			   		height: 50px;
			    }

			span span{
				font-size:2rem;
				margin-right: 10px;
				 @include max-screen(382px) {
			        font-size:0.7rem;
			    }
				&.fa-mobile-phone{
					font-size: 3rem;
					position: relative;
					top:5px;
					 @include max-screen(382px) {
			        font-size:1rem;
			   		 }
				}
			}
			.tel{
				margin-right: 20px;
			}
		}
		
		&.logo-wrap{
			 @include max-screen(991px) {
			height: 40px;
			}
		}
	}

	.search-form{
		position:relative;
		top:5px;
		input{
			background:$azul;
			border-radius: 10px;
			padding:5px;
			border:none;
			color: #FFF;
			outline: none;
			width:100%;
			&::-webkit-input-placeholder {
				color: #7BB5E6;
				}
		}

		button{
			position:absolute;
			right: 10px;
			top:-5px;
			border:0;
			background:none;
			color: #FFF;
			font-size:2rem;
		}
	}

	.navbar{
		margin-bottom:0;
		min-height: auto;
		li{
			float:left;
			font-size:1.45rem;
			text-transform: uppercase;

			&.current-menu-item{
				a{
					color:#000;
				} 
			}
			.caret{
				margin-left:10px;
			}
		}

		.dropdown-menu{
			li{
				width: 100%;
			}
		}
	}
}