.categorias {
	h1{
		background:rgba(255,255,255,0.5);
		top:0;
		left:0;
		color: #000;
		font-size: 3rem;
		margin:0;
		padding:0;
		width: 100%;
		text-align:center;
		text-transform: uppercase;
		padding:10px;
	}

	h2{
		border-bottom:1px solid #CCC;
	}

}


header.page-header{
	position:relative;
	padding:0;
	margin-top:0;
	margin-bottom:0;

	h1{
		background:rgba(255,255,255,0.5);
		top:0;
		left:0;
		color: #000;
		font-size: 3rem;
		margin:0;
		padding:0;
		width: 100%;
		text-align:center;
		text-transform: uppercase;
		padding:10px;
	}
	img{
		width: 100%;
		height: auto;
	}

	&.prensa{
		height:683px;
		border:1px solid #333;
		background:#FFF;
		img{
			margin-left:auto;
			margin-right: auto;
			width:auto;
			height: auto;
			display: block;
			margin-top:100px;
		}
	}
}

.single-page{
		font-family: 'Raleway';

		.content{
			font-size:1.4rem;
			color: #555;
			padding:30px 0 80px 0; 
			line-height:2.6rem;
		}

		h2{
			font-size: 2rem;
		}

		ol{
			list-style: decimal;
			padding-left: 20px;
		}
		ul{
			list-style:disc;
			padding-left:20px;
		}
}